---
import PageLayout from "@/layouts/Base";
import ExperienceList from "@/components/ExperienceList";

const talks = [
	{
		title: "Cell Driven Development",
		link: "https://github.com/einariii/cell_driven_development",
		institution: "Toronto Elixir Meetup @ theScore",
		location: "Toronto, Canada",
		startDate: "June 2023",
		description:
			"Demonstrating how to create your own custom Elixir Livebook smart cells using Typescript and Vue with three examples.",
	},
];

const experience = [
	{
		title: "Software Developer",
		institution: "Admintel",
		location: "Remote",
		startDate: "July 2023",
		endDate: "Jan 2024",
	},
	{
		title: "Data Scientist",
		institution: "Royal Bank of Canada",
		group: "Global Technology Risk",
		location: "Toronto, Canada",
		startDate: "July 2019",
		endDate: "Sept 2021",
	},
	{
		title: "Data Analyst",
		institution: "Ontario Ministry of Energy",
		group: "Economics and Systems Planning Group",
		location: "Toronto, Canada",
		startDate: "May 2017",
		endDate: "Aug 2017",
	},
];

const education = [
	{
		title: "Full-Stack Development with Elixir",
		institution: "DockYard Academy",
		location: "Remote",
		startDate: "Feb 2023",
		endDate: "May 2023",
	},
	{
		title: "BSc - Financial Mathematics, Economics Minor",
		institution: "Toronto Metropolitan University ",
		location: "Toronto, Canada",
		startDate: "Sep 2014",
		endDate: "May 2019",
	},
];

const meta = {
	title: "About",
	description: "About me.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ExperienceList experienceList={experience} />
		<h2 class="title mb-4 text-xl">Education</h2>
		<ExperienceList experienceList={education} />
		<h2 class="title mb-4 text-xl">Talks</h2>
		<ExperienceList experienceList={talks} />
	</div>
</PageLayout>
