[submodule "vendor/rustlings"]
	path = vendor/rustlings
	url = https://github.com/mvkvc/rustlings.git
[submodule "vendor/erlings"]
	path = vendor/erlings
	url = https://github.com/mvkvc/erlings.git
[submodule "vendor/fpinscala"]
	path = vendor/fpinscala
	url = https://github.com/mvkvc/fpinscala.git
[submodule "vendor/fastbook_elixir"]
	path = vendor/fastbook_elixir
	url = https://github.com/mvkvc/fastbook_elixir.git
[submodule "vendor/MultiPL-E"]
	path = vendor/MultiPL-E
	url = https://github.com/mvkvc/MultiPL-E.git
[submodule "vendor/babelcode"]
	path = vendor/babelcode
	url = https://github.com/mvkvc/babelcode.git
