<div class="flex flex-col items-center justify-center min-h-[84vh] space-y-8 text-gray-800 bg-white font-sans">
  <h1 class="text-4xl font-bold text-center tracking-wide">Welcome</h1>
  <p class="text-center text-xl max-w-[40vw] text-gray-600">
    <span class="italic">critique.pics</span> is a service that uses the latest techniques in computer vision to predict the likelihood an image is AI-generated.
  </p>
  <%= live_redirect "Click here to try it out!", to: ~p"/upload", class: "text-center font-bold text-xl text-gray-600 hover:text-gray-900 transition-colors duration-200 underline cursor-pointer shadow-sm" %>
  <a href="https://kimia.software" class="text-gray-600 hover:text-gray-900 transition-colors duration-200">🝪 a kimia.software project</a>
</div>
