<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Akashi" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="bg-white antialiased">
    <header class="flex flex-row justify-between items-center p-8 text-xl">
      <a href={~p"/"} class="text-3xl font-semibold italic">Akashi</a>
      <ul class="flex flex-row space-x-4">
        
        <%= if @current_user do %>
          <li>
            <%= @current_user.email %>
          </li>
          <li>
            <.link href={~p"/id"} class="btn">
              ID
            </.link>
          </li>
          <li>
            <.link href={~p"/users/settings"} class="btn">
              Settings
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_out"} method="delete" class="btn">
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <%= live_render(@conn, AkashiWeb.WalletLoginLive,
              id: "connect",
              session: %{"id" => "metamask-login"}
            ) %>
          </li>
        <% end %>
      </ul>
    </header>
    <main class="p-4">
      <%= @inner_content %>
    </main>
  </body>
</html>
